In [21]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
bmw = pd.read_csv('bmw.csv')
bmw.shape

(10781, 9)

In [7]:
bmw.drop('Unnamed: 0',axis=1,inplace=True)

In [10]:
bmw_subset = bmw.head(5)

In [18]:
bmw_subset

      model  year  price transmission  mileage fuelType   mpg  engineSize
0  5 Series  2014  11200    Automatic    67068   Diesel  57.6         2.0
1  6 Series  2018  27000    Automatic    14827   Petrol  42.8         2.0
2  5 Series  2016  16000    Automatic    62794   Diesel  51.4         3.0
3  1 Series  2017  12750    Automatic    26676   Diesel  72.4         1.5
4  7 Series  2014  14500    Automatic    39554   Diesel  50.4         3.0

In [11]:
bmw_subset.values

array([['5 Series', 2014, 11200, 'Automatic', 67068, 'Diesel', 57.6, 2.0],
       ['6 Series', 2018, 27000, 'Automatic', 14827, 'Petrol', 42.8, 2.0],
       ['5 Series', 2016, 16000, 'Automatic', 62794, 'Diesel', 51.4, 3.0],
       ['1 Series', 2017, 12750, 'Automatic', 26676, 'Diesel', 72.4, 1.5],
       ['7 Series', 2014, 14500, 'Automatic', 39554, 'Diesel', 50.4, 3.0]],
      dtype=object)

In [12]:
bmw_subset.index

RangeIndex(start=0, stop=5, step=1)

In [13]:
bmw_subset.columns

Index(['model', 'year', 'price', 'transmission', 'mileage', 'fuelType', 'mpg',
       'engineSize'],
      dtype='object')

In [19]:
df_in_values = [['5 Series', 2014, 11200, 'Automatic', 67068, 'Diesel', 57.6, 2.0],
       ['6 Series', 2018, 27000, 'Automatic', 14827, 'Petrol', 42.8, 2.0],
       ['5 Series', 2016, 16000, 'Automatic', 62794, 'Diesel', 51.4, 3.0],
       ['1 Series', 2017, 12750, 'Automatic', 26676, 'Diesel', 72.4, 1.5],
       ['7 Series', 2014, 14500, 'Automatic', 39554, 'Diesel', 50.4, 3.0]]
df_in_index = range(0, 5)
df_in_columns = ['model', 'year', 'price', 'transmission', 'mileage', 'fuelType', 'mpg',
       'engineSize']
df_in = pd.DataFrame(df_in_values, index=df_in_index,columns=df_in_columns)

In [20]:
df_in.equals(bmw_subset)

True

In [53]:
def get_features(data, cat_col):
    """
    Convert the categorical variables into dummy variables
    Args:
        data(pd.Dataframe): the raw data
        cat_col(list of str): the categorical columns
    Returns:
        input_data(pd.Dataframe): the input data for training the model
    """

    ohe = OneHotEncoder()
    if not isinstance(data, pd.DataFrame):
        raise TypeError("Provided argument `data` is not a Panda's DataFrame object")
    ohe_features = pd.DataFrame(ohe.fit_transform(data[cat_col]).toarray(),
                                columns=ohe.get_feature_names())

    input_data = pd.concat([ohe_features, data], axis=1).drop(cat_col, axis=1)

    return input_data

In [25]:
cat_col = ['model','transmission','fuelType']

In [62]:
ohe_cols = ['x0_1 Series', 'x0_2 Series', 'x0_3 Series', 'x0_4 Series',
       'x0_5 Series', 'x0_6 Series', 'x0_7 Series', 'x0_8 Series', 'x0_M2',
       'x0_M3', 'x0_M4', 'x0_M5', 'x0_M6', 'x0_X1', 'x0_X2', 'x0_X3', 'x0_X4',
       'x0_X5', 'x0_X6', 'x0_X7', 'x0_Z3', 'x0_Z4', 'x0_i3', 'x0_i8',
       'x1_Automatic', 'x1_Manual', 'x1_Semi-Auto', 'x2_Diesel', 'x2_Electric',
       'x2_Hybrid', 'x2_Other', 'x2_Petrol', 'year', 'mileage', 'mpg',
       'engineSize']

In [51]:
df_test = get_features(df_in, cat_col)

In [49]:
df_true = pd.DataFrame([[0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00,
        1.0000e+00, 0.0000e+00, 2014, 11200, 67068,
        5.7600e+01, 2.0000e+00],
       [0.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00, 1.0000e+00,
        0.0000e+00, 1.0000e+00, 2018, 27000, 14827,
        4.2800e+01, 2.0000e+00],
       [0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00,
        1.0000e+00, 0.0000e+00, 2016, 16000, 62794,
        5.1400e+01, 3.0000e+00],
       [1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00,
        1.0000e+00, 0.0000e+00, 2017, 12750, 26676,
        7.2400e+01, 1.5000e+00],
       [0.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00, 1.0000e+00,
        1.0000e+00, 0.0000e+00, 2014, 14500, 39554,
        5.0400e+01, 3.0000e+00]],
        index = range(0,5),
        columns = ['x0_1 Series', 'x0_5 Series', 'x0_6 Series', 'x0_7 Series',
       'x1_Automatic', 'x2_Diesel', 'x2_Petrol', 'year', 'price', 'mileage',
       'mpg', 'engineSize'])

In [52]:
df_true.equals(df_test)

True

In [54]:
import logging

In [55]:
df_in_non_df = 'I am not a DataFrame'
get_features(df_in_non_df, cat_col)

TypeError: Provided argument `data` is not a Panda's DataFrame object

In [56]:
user_input = {'model': '5 Series',
              'year': 2017,
              'transmission': 'Semi-Auto',
              'mileage': 67068,
              'fuelType': 'Diesel',
              'mpg': 60,
              'engineSize': 20}

In [90]:
df_true = pd.DataFrame([[0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00,
        0, 0, 0, 0, 0,
        0, 0, 0, 0, 0,
        0, 0, 0, 0, 0,
        0, 0, 0, 0, 0,
        0, 1.0, 1.0, 0, 0,
        0, 0, 2017, 67068, 60,
        20]],
        index=[0],
        columns = ['x0_1 Series', 'x0_2 Series', 'x0_3 Series', 'x0_4 Series',
       'x0_5 Series', 'x0_6 Series', 'x0_7 Series', 'x0_8 Series', 'x0_M2',
       'x0_M3', 'x0_M4', 'x0_M5', 'x0_M6', 'x0_X1', 'x0_X2', 'x0_X3', 'x0_X4',
       'x0_X5', 'x0_X6', 'x0_X7', 'x0_Z3', 'x0_Z4', 'x0_i3', 'x0_i8',
       'x1_Automatic', 'x1_Manual', 'x1_Semi-Auto', 'x2_Diesel', 'x2_Electric',
       'x2_Hybrid', 'x2_Other', 'x2_Petrol', 'year', 'mileage', 'mpg',
       'engineSize'])

In [58]:
def transform_input(ui_dict, cat_cols, ohe_cols):
    """Transform the user input from the app to get predictions using the trained model
    Args:
        ui_dict (dict): a dictionary of user input, collected from the app
        cat_cols (:obj: `list`): a list of categorical columns in the initial input
        ohe_cols (:obj: `list`): a list of required columns in the transformed user input DataFrame
    Returns:
        test_df (:obj:`DataFrame <pandas.DataFrame>`): DataFrame that stores the transformed user input
    """
    # transform the user input into a pd Dataframe
    input_df = pd.DataFrame(ui_dict, index=[0])

    # Create a new dataframe to match the ohe_col names
    ohe_empty = pd.DataFrame(columns=ohe_cols)

    # ohe transform on the categorical columns
    ohe = OneHotEncoder()
    data1 = pd.DataFrame(ohe.fit_transform(input_df[cat_cols]).toarray(),
                         columns=ohe.get_feature_names())

    # merge the ohe data with all the input data
    merged_input = pd.concat([data1, input_df], axis=1).drop(cat_cols, axis=1)

    # Join the merged input data with the empty dataframe for training
    for col in ohe_empty.columns:
        if col not in merged_input.columns:
            ohe_empty[col] = 0
        else:
            ohe_empty[col] = merged_input[col]
    test_df = ohe_empty.fillna(0)

    return test_df

In [63]:
df_test= transform_input(user_input, cat_col, ohe_cols)

In [91]:
df_test.equals(df_true)

True

In [88]:
df_test

,x0_1 Series,x0_2 Series,x0_3 Series,x0_4 Series,x0_5 Series,x0_6 Series,x0_7 Series,x0_8 Series,x0_M2,x0_M3,...,x1_Semi-Auto,x2_Diesel,x2_Electric,x2_Hybrid,x2_Other,x2_Petrol,year,mileage,mpg,engineSize
0,0.0,0.0,0.0,0.0,1.0,0,0,0,0,0,...,1.0,1.0,0,0,0,0,2017,67068,60,20

In [89]:
df_true

,x0_1 Series,x0_2 Series,x0_3 Series,x0_4 Series,x0_5 Series,x0_6 Series,x0_7 Series,x0_8 Series,x0_M2,x0_M3,...,x1_Semi-Auto,x2_Diesel,x2_Electric,x2_Hybrid,x2_Other,x2_Petrol,year,mileage,mpg,engineSize
0,0.0,0.0,0.0,0.0,1.0,0,0,0,0,0,...,1.0,1.0,0,0,0,0,2017,67068,60000,20